#reseveButton {
    -fx-background-color: #016984;
    -fx-text-fill: #FFFFFF;
    -fx-pref-height: 30;
}

#reseveButton:hover {
    -fx-background-color: #0093B9;
}

#backgroundpane {
    -fx-background-color: #242424;
}

#backgroundpaneTop{
    -fx-background-color: #242424;
    -fx-background-radius: 4;
}

.backReservation {
    -fx-background-color: #01647e;
    -fx-background-radius: 4;
}

#SelectClientButton {
    -fx-background-color: #242424;
}