#reseveButton
{
    -fx-background-color: #016984;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
}


#backgroundpane
{
    -fx-background-color: #242424;
}

.backReservation
{
    -fx-background-color: #01647e;
}

#SelectClientButton
{
    -fx-background-color: #242424;
}