.OneCarPane
{
    -fx-background-color: #ffffff;
}

.OneCarPane:hover
{
    -fx-background-color: #f3f3f3;
    -fx-pref-width: 725;
}


.CarBackground {
    -fx-opacity: 0;
    -fx-background-color: #016984;
}

.OneCarPane:hover > .CarBackground{
    -fx-opacity: 1;
}


.ReserveButton
{
    -fx-background-color: #242424;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 115
;
    -fx-pref-height: 35;
    -fx-background-radius: 0
}

.ReserveButton:hover
{
    -fx-background-color: #016984;

}

.Price
{
    -fx-fill: #242424;
    -fx-font-size: 28;
}

.ScrollPane{
    -fx-background-color:transparent;
}


.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}


.scroll-bar:vertical .thumb {
    -fx-background-color: #757575
}

.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #555555;
}