.OneCarPane
{
    -fx-background-color: #ffffff;
}

.OneCarPane:hover
{
    -fx-background-color: #f3f3f3;
    -fx-pref-width: 725;
}


.CarBackground {
    -fx-opacity: 0;
    -fx-background-color: #016984;
}

.OneCarPane:hover > .CarBackground{
    -fx-opacity: 1;
}


.ReserveButton
{
    -fx-background-color: #242424;
    -fx-text-fill: #FFFFFF;
    -fx-pref-width: 125;
    -fx-pref-height: 35;
}

.ReserveButton:hover
{
    -fx-background-color: #016984;

}

.Price
{
    -fx-fill: #242424;
    -fx-font-size: 28;
}


